* {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    height: 100vh;
}

.calendar {
    flex: 0.2;
    padding-top: 5%;
    padding-left: 1vw;
    border: 1px solid red;
}

.events {
    flex: 0.6;
    border: 1px solid black;
}

.allevent {
    flex: 0.2;
    border: 1px solid red
}